.tokenProvidingBox {
  width: 500px;
  height: auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
}

.testBox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.oniSelector {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
}

.singleTokenBox {
  display: flex;
  flex-direction: column;
}

.multiTokenBox {
  display: flex;
  flex-direction: column;
}

.btnGo {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  border-radius: 30px;
  transition: all 0.2s;
}

.btnGo:hover {
  cursor: pointer;
  color: white;
  background-color: hotpink;
}

.btnConnect {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  border-radius: 30px;
  transition: all 0.2s;
}

.btnConnect:hover {
  color: #ffffff;
  background-color: coral;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.loading {
  font-size: 20px;
  text-align: center;
  color: goldenrod;
}
